@use "../../../style/helpers/classes" as *;
@use "../../../style/helpers/var" as *;
.card {
  width: 22rem;
  height: 14rem;
  padding: 0.5rem 1rem;
  border-radius: $radius;
  margin-right: 1rem;
  margin-top: 2rem;
  text-align: center;
  position: relative;
  cursor: pointer;

  @extend .backgroundImg;
  .title {
    text-align: center;
    display: inline-block;
    padding: 0.3rem 0.7rem;
    margin: 0 auto;
    color: rgba(#fff, 0.8);
    background-color: $main_color;
    border-radius: $radius;
  }

  .rate {
    margin-top: 2rem;
    * {
      font-size: $font_size + 0.5 !important;
    }
  }

  .type {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    background: $secondary_color;
    border-radius: $radius;
    color: $white_color;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: $phone_size) {
  .card {
    width: 16rem;
  }
}

@media (max-width: $small_sizes) {
  .card {
    width: 80%;
    margin: 2rem auto;
  }
}
