@use "var" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: all $trans;
  padding: 0;
  margin: 0;
  font-family: $main_font;
  text-decoration: none;
}

.section_heading {
  font-size: $h1_size - 1;
  font-family: $h1_font;
  color: $smooth_black;
  text-align: center;
}

.loading {
  width: 20rem;
  height: 20rem;
  margin: 4rem auto;
  padding: 2rem;
  p {
    font-size: $big_font + 1.5;
    color: $secondary_color;
  }
}
