@use "../../style/helpers/var" as *;
.parents {
  width: 45%;
  height: 35rem;
  word-break: break-all;
  .img {
    height: 100% !important;
  }
  .price {
    font-size: $big_font;
    margin: 2rem 0;
    color: $secondary_color;
    font-weight: bolder;
  }
  .description {
    width: 85%;
    height: 12.5rem;
    overflow-y: auto;
    line-height: 1.5;
  }
}
